body,html{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    background-color: azure;
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 2.5fr 1fr;
    grid-template-areas: 
    "header"
    "image"
    "top"
    "bottom";
    height: 100vh;
    margin: 0;
}
section.top{
    grid-area: top;
    background-color: cornsilk;
    display: grid;
}
section.bottom{
    grid-area: bottom;
    background-color: darkcyan;
}
section.image{
    grid-area: image;
    background: url('/images/nravikiran.jpg');
}

header{
    grid-area: header;
    background-color: aliceblue;
}
@media screen and (min-width: 540px){
    .grid-container{
        display: grid;
        grid-template-columns: 2.2fr 1fr;
        grid-template-rows: 0.5fr 4fr 1fr;
        grid-template-areas: 
        "top header"
        "top image"
        "bottom image";
        height: 100vh;
        margin: 0;
    }

}